body{
	color: black;
	background: white;
}
#header_wai{
	width: 100%;
	height: 123px;
	background: black;
}
#header{
	background: black;
}
#footer{
	clear:both;
	}
#content{
	width: 774px;
}
#content img{
	width: 744px;
	margin-left: 15px;
	margin-top: 50px;
}	
#content p{
	font-size:1.8rem;
}
